body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none !important;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.mypageMain {
    margin: 0 auto;
    width: 80%;
}

.mypageMain button{
    padding: 50px;
    margin: 0 10px;
    height: 200px;
    text-align: left;
}

.main_item h3{
    font-weight: bold;
}